<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>FC:Catalogue</title>
	</head>
	<body>
		<h1>FC:Catalogue</h1>
		<a href="http:\\localhost:5000"/>home</a>
		<p>add an item</p>

		<form action="/cat/newOggetto" method="post">
			<label for="nome">Codice Prodotto: </label>
			<input id="nome" type="text" placeholder="0000000" name="nome"><br>

			<label for="descrizione">Descrizione: </label>
			<input style="text-transform: uppercase" id="descrizione" type="text" placeholder="BISC. ELT. ROT." name="descrizione"><br>

			<label for="costo">Prezzo: </label>
			<input id="costo" type="number" min="0.00" max="10000.00" step="0.01" placeholder="00.00" name="costo"><br>

			<label for="misura">Unità di misura: </label>
			<input id="misura" type="text" value="pz" name="misura"><br>
			
			<button type="submit">Submit</button><br>
		</form>
	</body>
</html>
