<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>FC:Catalogue</title>
	</head>
	<body>
		<h1>FC:Catalogue</h1>
		<a href="http:\\localhost:5000"/>home</a>
		<p>add an item</p>

		<form action="/dump" method="post">
			<label for="nome">nome collection: </label>
			<input id="nome" type="text" placeholder="0000000" name="nomeCollezione"><br>
			
			<button type="submit">Submit</button><br>
		</form>
	</body>
</html>
