<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>FC:Catalogue</title>
	</head>
	<body>
		<h1>FC:Catalogue</h1>
		<a href="/">home</a>
		<input type="button" id="elaborate" onclick="elaborate()" value="Elabora Dati" />
		<input hidden type="button" id="test" onclick="test()" value="test" />

		<section class="container">
			
		</section>

		<script src="/public/mainfc.js"></script>
	</body>
</html>
