<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>FilConad</title>
	</head>
	<body>
		<h1>FilConad</h1>
		<h2>Rifatturazione</h2>
		<a href="http:\\localhost:5000"/>home</a>
		<a href="http:\\localhost:5000/cat">catalogo</a>
		<a href="http:\\localhost:5000/fc">rifatturazione</a>
		<a href="http:\\localhost:5000/dump">discarica</a>
		<div>
		<span>La finestra di comando che si apre insieme al browser devi lasciarla aperta finchè non hai finito.</span></br> 
		<span>Quando hai finito la chiudi direttamente dalla x in alto a destra.</span> </br>
		<span>Uscirà una riga scritta in rosso e altre in verde e poi si chiuderà da sola.</span> </br>
		</div>
		<div>
		<span>Cliccando su catalogo avrai la pagina in cui devi aggiungere i prodotti che abbiamo in catalogo.</span></br> 
		<span>Cliccando su rifatturazione avrai una schermata molto simile a quella a cui sei abituata.</span> </br>
		<span>Dovresti fare una prova per vedere se i risultati di questo e della versione precedente corrispondono.</span> </br>
		</div>


	</body>
</html>



