<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>FilConad</title>
	</head>
	<body>
		<h1>FilConad</h1>
		<h2>Rifatturazione</h2>
		<a href="http:\\localhost:5000"/>home</a>
		<a href="http:\\localhost:5000/cat">catalogo</a>
		<a href="http:\\localhost:5000/dump">discarica</a>





	</body>
</html>



<!-- Loop through quotes
<%// for(var i = 0; i < quotes.length; i++) {%>
    <li class="quote">
      <!-- Output name from the iterated quote object -->
      <span><%=// quotes[i].name %></span>:
      <!-- Output quote from the iterated quote object -->
      <span><%=// quotes[i].quote %></span>
    </li>
  <%// } %> -->